.main-part {
	margin-top: 30px;
}

.first-part {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	background: #fafafa;
}

.first-part-item {
	height: 80px;
	margin-top: 20px;
	margin-left: 20px;
	text-align: left;
}

/*#969696!important*/
