body {
	background: #ffffff;
	color: black;
	border: 16px solid #f2f2f2;
	height: 1100px;
	width: 100%;
	margin: 0 auto;
	text-align: center;
}

.wrapper {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

header {
	width: 100%;
	clear: both;
	height: 150px;
}

.logo {
	float: left;
	margin: 10px;
}

.thumbnail {
	float: right;
	padding-top: 40px;
	margin: 10px;
	margin-right: 30px;
	width: 200px;
}

.thumbnail img {
	border-radius: 50%;
	float: left;
	height: 50px;
	width: 50px;
	margin-right: 20px;
}

.thumbnail-small-content {
	width: 300px;
	text-align: left;
	margin-top: 10px;
}

.custom-gray-wording {
	font-size: 10px;
	letter-spacing: 1px;
	color: #969696;
	text-transform: uppercase;
}

.custom {
	margin-top: 4px;
	font-size: 14.45px;
	font-weight: bold;
}

#custom1:hover {
	color: blue;
}

#custom2 {
	color: green;
}

.content {
	position: relative;
}

.content ul {
	display: flex;
	margin-left: 10px;
	margin-right: 10px;
}

.content ul li {
	margin-right: 30px;
	font-size: 26px;
}

.content::after {
	clear: float;
	content: '';
}

