.service-location {
	height: 600px;
	width: 100%;
	background-color: grey;
	text-align: center;
}

.service-location h2 {
	padding: 20px;
}

.service-location-image {
	background-image: url(../images/location.jpg);
	background-size: cover;
	background-attachment: fixed;
	height: 100%;
	display: flex;
}

.service-location-text {
	margin: auto;
	color: white;
	font-size: 30px;
}
