section {
	grid-column: 1/13;
}

/*	section one  */

.section-one-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 150px;
	background-color: #e81164;
}

.section-one-wrapper h1 {
	color: white;
	font-size: 40px;
}

/*	section two  */

.section-two-wrapper {
	height: 700px;
	background-color: white;
}

.grid-icon {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	width: 100%;
}

.icon {
	margin: 50px;
	width: 90%;
}

.icon img {
	float: left;
	margin-right: 20px;
}

.icon h2 {
	margin-left: 20px;
	text-transform: uppercase;
	font-size: 26px;
	margin-bottom: 0;
}

.icon p {
	padding-top: 14px;
}

/*	section three  */

.section-three-wrapper {
	height: 450px;
	background-color: #f5f5f5;
}

.section-three-content {
	display: flex;
	width: 100%;
	text-align: center;
}

.threeContent {
	width: 100%;
	margin-top: 20px;
}

.threeContent img {
	width: 80%;
}

.threeContent p {
	margin-top: 20px;
}

/*	section four  */

.section-four-wrapper {
	height: 300px;
	background-color: white;
}

.section-four-content {
	margin-top: 60px;
	width: 100%;
	text-align: center;
}

.section-four-content div:first-child {
	font-size: 25px;
}

.section-four-content img {
	margin-top: 30px;
	width: 100%;
}

#seeAll {
	margin: 20px auto;
	border-radius: 22px;
	border: 2px solid #e81164;
	padding: 5px;
	width: 100px;
	color: #e81164;
}

/*	section five  */

.section-five-wrapper {
	display: flex;
	height: 100px;
	background-color: #f5f5f5;
	align-items: center;
	justify-content: center;
}

.container {
	margin: 100px auto;
}

.container li {
	float: left;
	margin: 20px 20px;
}

.container li img {
	width: 40px;
	background-color: #e81164;
}

#seperate {
	margin-left: 70px;
	margin-right: 50px;
}

/*@media screen and (max-width: 699px) and (min-width: 520px) {
	.grid-icon {
		display: block;
	}
}*/
